extends ./Layout/index

block contenido
    main.container.mt-5 
        h1.text-center.mt-5= pagina


        blockquote.text-center Lee sobre nuestros clientes y sus experiencias
        .row.testimoniales
            each testimonial in testimoniales
                .col-md-6.col-lg-4.mb-4
                    .card 
                        .card-body
                            blockquote.blockquote
                            p.mb-0
                                | #{testimonial.mensaje}
                            footer.blockquote-footer 
                                | #{testimonial.nombre}

        .row

            .col-md-12
                h2.d-block.w-100.text-center Agrega un Testimonial

                if(errores)
                    each error in errores
                        .alert.col.alert-danger.text-center= error.mensaje 

        
            .row.justify-content-center.col
                .col-md-8
                    form(action="/testimoniales" method='POST')
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre(type="text",value= nombre, placeholder='Tu nombre', name='nombre', class="form-control")
                        .form-group
                            label(for="correo") Correo Electronico
                            input#nombre(type="text",value= correo, placeholder='Tu correo', name='correo', class="form-control")
                        .form-group
                            label(for="nombre") Mensaje
                            textarea#mensaje(name="mensaje",, placeholder="Tu mensaje", rows="3", class='form-control')= mensaje
                        input.btn.btn-success.btn-block(type="submit")